body {
  background-color: #DDE8FA;
}

/* ---------- Container DIVs Styling ----------  */

.container-fluid {
  background-color: #DDE8FA;
  min-height: 100%;
  height: 1000vh;
  /* width: 100%; */
  /* position: absolute; */
}

.fluid-auth{
  height:100%;
  background-color: #DDE8FA;
  min-height: 100%;
  padding: 2%
}

.landingpage-container {
  background-color: aliceblue;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  position: absolute;
  padding: 5%;
}

.form-container {
    background-color: aliceblue;
    left: 20%;
    right: 20%;
    top: 7%;
    bottom: 7%;
    position: absolute;
    padding: 5%;
  }

  .form-group {
    max-width: 75%;
  }

.authpages-container {
  background-color: aliceblue;
  left: 1%;
  right: 1%;
  top: 1%;
  bottom: 1%;
  /* position: absolute; */
  /* padding: 1%;
  padding-top: 0; */
}

/* ---------- Dashboard Styling ----------  */

.container-dashboard {
  background-color: aliceblue;
  margin: 1%;
  justify-content: center;
}
.dashboard-container-items {
  background-color: #dee6f2;
  padding: 2%;
  margin: 1%;
}

.dashboard-container-moods {
  background-color: #dee6f2;
  padding: 2%;
  margin: 1%;
}

bg-white {
  background-color: white;
}

/* ---------- Item Pages Styling ----------  */

.container-itempage {
  justify-content: center;
  margin: 1%;

}
.pages-container-items {
  margin: 2%;
  padding: 2%;
  background-color: #dee6f2;

}

.card-map-items {
  min-width: 75%;
  background-color: rgb(255, 255, 255);
}


.card-heading {
  display: inline-block;
  min-width: 100%;
}

/* Styling for Item cards - map function  */
.card-title {
  display: inline-block;
}

.item-card {
  min-width: 75%;
}

/* Button Styling - Item pages  */
.update-btn {
  margin: 1%;
}

.delete-btn {
  float: right;
  font-size: 75%;
}

.inline-buttons {
  display: inline-block;
  float: right;
}

.card-buttons {
  text-align: center;
}

/* Text Styling - Item Pages  */
.title-text {
  text-align: center;
}

#helpText {
  font-size: x-small;
}

.error-text {
  color: red;
  font-size: larger;
}

/* Container Grouping Styling  */
.overdue-container {
  border: red solid 1px;
  background-color: rgba(240, 214, 214, 0.505);
  padding: 1%;
  margin: 1%;
  animation: overdueShake 1.5s ease-in-out 0s 1 normal forwards;
}

@keyframes overdueShake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-6px);
	}

	20%,
	40%,
	60% {
		transform: translateX(6px);
	}

	80% {
		transform: translateX(3px);
	}

	90% {
		transform: translateX(-3px);
	}
}

.past-container {
  border: rgb(185, 182, 255) solid 1px;
  padding: 1%;
  margin: 1%;
}

.current-container {
  border: rgb(173, 173, 247) solid 1px;
  padding: 1%;
  margin: 1%;
}

